header {
  height: 84px;
  display: flex;
  align-items: center;
}
.container {
  max-width: 1180px;
  width: 90%;
  margin: 0 auto;
}

ul {
  display: flex;
  gap: 50px;
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li {
  color: #636060;
  font-family: Helvetica;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.image {
  background: url("../images/background.png");
  background-size: cover;
  background-color: lightblue;
  background-repeat: no-repeat;
  height: 600px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 31px;
}

h2 {
    color: #fff;
    font-family: Helvetica;
    font-size: 79px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  
  h3 {
    color: #fff;
    font-family: Helvetica;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }











/* next */

.item2 {
    display: flex;
    margin-left: 40px;
    gap: 83px;
    margin-bottom: 140px;
    margin-top: 84px;
  }

.item1 {
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.h1 {
  color: #636060;
  font-family: Helvetica;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

h4 {
    color: #010101;
    font-family: Helvetica;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 214px;
}

.h2 {
    color: #636060;
    font-family: Helvetica;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 235px;
  }












 
 
 
 
 
  /* next */

.item3 {
  display: flex;
  flex-wrap: wrap;
  gap: 33px;
  row-gap: 56px;
}

h5 {
  color: #343232;
  font-family: Helvetica;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  /* margin-top: 23px;
  margin-bottom: 9px; */
}

h6 {
  width: 286px;
  color: #636060;

  font-family: Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}






.card{
    display: flex;
    flex-direction: column;
    gap: 15px;
}








/* next */




@media (max-width: 600px) {
    nav {
      display: none;
    }
  }
  
.fa-solid{
   display: none; 
}

@media (max-width: 600px) {
    .fa-solid {
      display: block;
    }
  }

@media (max-width: 630px){
    h2{
        font-size: 50px;
    }
}

@media (max-width: 400px){
    h2{
        font-size: 40px;
    }
}

@media (max-width: 704px){
    h3{
        font-size: 16px;
    }
}

@media (max-width: 400px){
    h3{
        font-size: 13px;
    }
}


@media (max-width: 500px){
    .item2{
        flex-wrap: wrap;
    }
}

